.idea/
draint-old/
media/
!media/public_html/.gitkeep
!media/uploads/.gitkeep
node_modules/
resources/vendors/**/
venv/

*.crt
*.db
*.key
*.pid
*.psd
*.pyc
*.rdb
*.sock
*.sqlite
*.sqlite3
main_app/migrations/0003_auto_20151115_1704.py
main_app/migrations/0004_auto_20151115_2020.py
