.home_page {

    font-size: 40px;
    color: #003366;
}

.welcome_tile{


}

.menu_tile{
    background-color: #777777;
    padding-top: 5px;
    padding-bottom: 5px;
}
.forms{
        background-color: #777777;
        padding-left: 10px;
        padding-right: 10px;

}