.home_page {

    font-size: 40px;
    color: #003366;
}

.welcome_tile{


}
/*.form-horizontal{*/
    /*background-color: red;*/
    /*margin: auto;*/
/*}*/

.menu_tile{
    background-color: #777777;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form_custom{
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/

    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px;


}

/*@font-face {*/
  /*font-family: 'OpenSansRegular';*/
  /*src: url('../fonts/OpenSansRegular.ttf');*/
  /*src: local('../fonts/OpenSansRegular.ttf')*/
/*}*/

@font-face {
  font-family: 'Otama-ep';
  src: url('../fonts/Otama-ep.otf');
  src: local('../fonts/OpenSansRegular.ttf')
}

@font-face {
  font-family: 'AUdimat-Bold';
  src: url('../fonts/AUdimat-Bold.otf');
  src: local('../fonts/OpenSansRegular.ttf')
}


@font-face {
  font-family: 'AUdimat-Italic';
  src: url('../fonts/AUdimat-Italic.otf');
  src: local('../fonts/OpenSansRegular.ttf')
}

@font-face {
  font-family: 'Fontin-Bold';
  src: url('../fonts/Fontin-Bold.otf');

}

@font-face {
  font-family: 'GoodDog';
  src: url('../fonts/GoodDog.otf');

}

@font-face {
  font-family: 'Aller_Bd';
  src: url('../fonts/Aller_Bd.ttf');

}

@font-face {
  font-family: 'Aller_It';
  src: url('../fonts/Aller_It.ttf');

}

@font-face {
  font-family: 'AllerDisplay';
  src: url('../fonts/AllerDisplay.ttf');

}

body .nav{
    font-family: Aller_Bd;
    font-size: 15px;
}
body{
        font-family: Aller_Bd;
        font-size: 15px;

}
.error{
    background-color: #F2DEDE;
}