{% extends '_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <script src="{% static "js/delete_catagory_aj.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <div class="container-fluid">
        <div id="cat_form" class="row">
            <div class="col-md-3" >
                <h2>Add a new category here.</h2>

                <form action="" method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-default" type="submit" value="Add"/>
                </form>
            </div>
            <div class="col-md-8"  style="border-left: 2px solid #cccccc">
                <div class="row" style="margin-bottom: 30px">
                    <div class="col-md-12">
                        <h2>Edit the currently available categories</h2>
                    </div>
                </div>
                {% for category in categories %}
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-md-3 col-md-offset-3">{{ category.category_name }} </div>
                        <div class="col-md-2">
                            <form class="delete-form" method="post" action="{% url 'cat_delete' %}">{% csrf_token %}
                                <input type="hidden" name="category" value="{{ category.category_name }}">
                                <input class="btn btn-danger btn-block" style="margin-bottom: 2px" type="submit" value="Delete">
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form class="delete-form" method="post" action="{% url 'cat_delete' %}">{% csrf_token %}
                                <input type="hidden" name="category" value="{{ category.category_name }}">
                                <input class="btn btn-default btn-block" type="submit" value="Rename">
                            </form>
                        </div>
                        <div id="ff"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}