<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
<h1>{{ time }}</h1>
<h2>Hi ! {{ user.name }}</h2>
{#<img src="{% static "main_app/images/img.jpg" %}" />#}
<div class="container-fluid home_page">
    <div class="row">
        <div class="col-lg-12 text-center ">
            Welcome
{#            {% lorem 1 p %}#}
        </div>
    </div>
    <div class="row menu_tile">
        <div class="col-lg-12 text-center ">
            <a href="{% url 'login' %}">Budget Monitor</a>
        </div>
    </div>
    <div class="row menu_tile">
        <div class="col-lg-12 text-center">
            Learn Vocab
        </div>
    </div>
    <div class="row menu_tile">
        <div class="col-lg-12 text-center">
            Short Notes
        </div>
    </div>

</div>


</body>
</html>