{% extends '_base.html' %}
{% block content %}
    {% load staticfiles %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>

    <div class="container">
        {% if error %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert-success" style="padding: 25px; font-size: 20px; text-align: center">
                        {{ error }}
                    </div>
                </div>

            </div>
        {% endif %}
        {% if login_form %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form class="form_custom" action="{% url 'login' %}" method="post">{% csrf_token %}
                        {{ login_form|crispy }}
                        <input class="btn btn-default" type="submit" value="Submit">
                    </form>
                </div>
                <div class="col-md-3"></div>

            </div>

        {% endif %}

    asdnasdaaksd
    </div>
    {#    {% block request_path = request.path %}{% endblock %}#}


{% endblock %}